@font-face {
    font-family: 'Coats';
    src: url('../Fonts/Coats\ Bold.otf');
}

.coats-font {
    font-family: 'Coats', sans-serif;
}

.coats-font::placeholder {
    font-family: 'Coats', sans-serif;
}

.back-color{
    background-color: #cabf85;
}

.my-gray-color{
    color: #2e2e2e;
}

.my-gray-bg-st{
    background: rgba(46,46,46, 0.5);
}

.my-gray-color-st{
    color: rgba(46,46,46, 0.5);
}


.main-page-bgc{
    background-color: #ffffea;
}

.avatar-size {
    max-width: 80px;
}